<?xml version="1.0"?>
<config>
    <modules>
        <Candf_Customshipping>
            <version>0.1.0</version>
        </Candf_Customshipping>
    </modules>
    <frontend>
        <routers>
            <customshipping>
                <use>standard</use>
                <args>
                    <module>Candf_Customshipping</module>
                    <frontName>customshipping</frontName>
                </args>
            </customshipping>
        </routers>
        <layout>
            <updates>
                <customshipping>
                    <file>customshipping.xml</file>
                </customshipping>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <customshipping>
                <class>Candf_Customshipping_Helper</class>
            </customshipping>
        </helpers>
        <blocks>
            <customshipping>
                <class>Candf_Customshipping_Block</class>
            </customshipping>
        </blocks>
        <models>
            <sales>
                <rewrite>
                    <quote_address_total_shipping>Candf_customshipping_Model_Quote_Address_Total_Shipping</quote_address_total_shipping>
                </rewrite>
            </sales>
            <customshipping>
                <class>Candf_Customshipping_Model</class>
                <resourceModel>customshipping_mysql4</resourceModel>
            </customshipping>
            <customshipping_mysql4>
                <class>Candf_Customshipping_Model_Mysql4</class>
                <entities>
                    <zone>
                        <table>candf_zone</table>
                    </zone>
                    <rule>
                        <table>candf_rule</table>
                    </rule>
                    <postcode>
                        <table>candf_pcs</table>
                    </postcode>
                    <shipment>
                        <table>candf_shipment</table>
                    </shipment>
                    <booking>
                        <table>candf_booking</table>
                    </booking>
                    <order>
                        <table>candf_sales_order_items</table>
                    </order>
                    <shipmenthistory>
                        <table>candf_shipment_adminselected</table>
                    </shipmenthistory>
                    <warehouse>
                        <table>candf_warehouse</table>
                    </warehouse>
                    <boxes>
                        <table>candf_availableboxes</table>
                    </boxes>
                    <additionalservices>
                        <table>candf_additional_services</table>
                    </additionalservices>
                    <shipmentadditional>
                        <table>candf_shipment_additional_services</table>
                    </shipmentadditional>
                </entities>
            </customshipping_mysql4>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <customshipping>
                        <type>singleton</type>
                        <class>Candf_Customshipping_Model_Observer</class>
                        <method>createCustomshippingShipment</method>
                    </customshipping>
                </observers>
            </sales_order_place_after>

           <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <customshipping>
                        <type>singleton</type>
                        <class>Candf_Customshipping_Model_Observer</class>
                        <method>salesOrderShipmentSaveBefore</method>
                    </customshipping>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
        <resources>
            <customshipping_setup>
                <setup>
                    <module>Candf_Customshipping</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customshipping_setup>
            <customshipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customshipping_write>
            <customshipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customshipping_read>
        </resources>
    </global>
    <default>
        <carriers>
            <candf_customshipping>
                <active>1</active>
                <model>Candf_Customshipping_Model_Carrier_ShippingMethod</model>
                <title>Candf Shipping</title>
                <name>Candf Shipping</name>
                <price></price>
            </candf_customshipping>
        </carriers>
        <candf>
            <general>
                <active><![CDATA[1]]></active>
                <sandbox><![CDATA[1]]></sandbox>
                <merchantid><![CDATA[10147]]></merchantid>
                <api><![CDATA[0f2133b9-8cf9-46ae-b6f5-9aae376854a9]]></api>
                <password><![CDATA[dyn123]]></password>
            </general>
            <countries>
                <sallowspecific><![CDATA[1]]></sallowspecific>
                <specificcountry><![CDATA[AU]]></specificcountry>
            </countries>
            <rule>
                <rulestatus><![CDATA[0]]></rulestatus>
            </rule>
            <insurance>
                <status><![CDATA[optional]]></status>
                <insurance_markup><![CDATA[]]></insurance_markup>
            </insurance>
            <units>
                <measure><![CDATA[Centimetres]]></measure>
                <weight><![CDATA[Kilograms]]></weight>
            </units>
            <packaging>
                <packagetype><![CDATA[1]]></packagetype>
                <length><![CDATA[1]]></length>
                <width><![CDATA[1]]></width>
                <height><![CDATA[1]]></height>
            </packaging>
            <warehouse>
                <warehouse_companyname><![CDATA[cnglobal]]></warehouse_companyname>
                <warehouse_firstname><![CDATA[chathura]]></warehouse_firstname>
                <warehouse_lastname><![CDATA[janaka]]></warehouse_lastname>
                <warehouse_adrs1><![CDATA[no 25 north block]]></warehouse_adrs1>
                <warehouse_adrs2><![CDATA[test]]></warehouse_adrs2>
                <warehouse_code><![CDATA[2000]]></warehouse_code>
                <warehouse_suburb><![CDATA[Sydney]]></warehouse_suburb>
                <warehouse_state><![CDATA[New South Wales]]></warehouse_state>
                <warehouse_country><![CDATA[AU]]></warehouse_country>
                <warehouse_email><![CDATA[chathura@cnglobal.com.au]]></warehouse_email>
                <warehouse_telephone><![CDATA[1231231231]]></warehouse_telephone>
                <warehouse_openhour><![CDATA[08:00]]></warehouse_openhour>
                <warehouse_closehour><![CDATA[17:00]]></warehouse_closehour>
            </warehouse>
            <payment>
                <payment_type><![CDATA[credit]]></payment_type>
                <creditcart_number><![CDATA[4111111111111111]]></creditcart_number>
                <creditcart_type><![CDATA[Visa]]></creditcart_type>
                <creditcart_custmername><![CDATA[chathura]]></creditcart_custmername>
                <creditcart_cvv><![CDATA[123]]></creditcart_cvv>
                <creditcart_expiry_month><![CDATA[12]]></creditcart_expiry_month>
                <creditcart_expiry_year><![CDATA[15]]></creditcart_expiry_year>
            </payment>
            <options>
                <careername_caption><![CDATA[Marchent Store]]></careername_caption>
                <estimate_shipping_display><![CDATA[1]]></estimate_shipping_display>
                <label_type><![CDATA[1]]></label_type>
                <careername_display><![CDATA[2]]></careername_display>
            </options>
            <markup>
                <markup_type><![CDATA[rate]]></markup_type>
                <markup_price><![CDATA[10]]></markup_price>
                <shippingmethod_count><![CDATA[6]]></shippingmethod_count>
            </markup>
            <handlingfee>
                <handlingfee_active><![CDATA[0]]></handlingfee_active>
                <handlingfee_price><![CDATA[]]></handlingfee_price>
                <handlingfee_type><![CDATA[rate]]></handlingfee_type>
            </handlingfee>
            <manualycreateboxes>
                <manualycreatstatus><![CDATA[0]]></manualycreatstatus>
            </manualycreateboxes>
        </candf>
    </default>
    <admin>
        <routers>
            <customshipping>
                <use>admin</use>
                <args>
                    <module>Candf_Customshipping</module>
                    <frontName>admin_customshipping</frontName>
                </args>
            </customshipping>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <customshipping module="customshipping">
                <title>CandF</title>
                <sort_order>85</sort_order>
                <children>
                    <candfshipment translate="title" module="customshipping">
                        <title>Manage Shipments</title>
                        <sort_order>5</sort_order>
                        <action>customshipping/adminhtml_shipment</action>
                    </candfshipment>
                    <location translate="title" module="customshipping">
                         <title>Location</title>
                         <sort_order>10</sort_order>
                          <children>
                            <warehouse translate="title" module="customshipping">
                                 <title>Manage Warehouses</title>
                                 <sort_order>5</sort_order>
                                 <action>customshipping/adminhtml_warehouse</action>
                             </warehouse>
                         </children>
                     </location>
                    <rule translate="title" module="customshipping">
                        <title>Rule Engine</title>
                        <sort_order>15</sort_order>
                        <action>customshipping/adminhtml_rule</action>
                    </rule>
                    <availableboxes translate="title" module="customshipping">
                        <title>Available boxes</title>
                        <sort_order>16</sort_order>
                        <action>customshipping/adminhtml_boxes</action>
                    </availableboxes>
                </children>
            </customshipping>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>


                        <system>
                            <children>
                                <config>
                                    <children>
                                        <candf>
                                            <title>Customshipping section</title>
                                        </candf>
                                    </children>
                                </config>
                            </children>
                        </system>

                        <customshipping translate="title" module="customshipping">
                            <title>Customshipping</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <customshippingbackend translate="title">
                                    <title>Backend Page Title</title>
                                </customshippingbackend>
                            </children>
                        </customshipping>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <customshipping>
                    <file>customshipping.xml</file>
                </customshipping>
            </updates>
        </layout>
    </adminhtml>
</config>